body {
  color:#333;
  padding:1rem;
  background-image: url("../img/stripes.png");
}

body > .container {
  background-color:white;
  border:1px solid #ccc;
  border-radius: 5px;
}

hr {
  border: 0 #ccc dotted;
  border-top-width: 1px;
  margin: 0;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 1.5rem;
  color:#e77000;
  margin-top: 2rem;
}

a {
  color:#666;
  text-decoration:none;
}
a:hover {
  color:#666;
  border-bottom:1px dotted #666;
  text-decoration:none;
}
